/* layout */
body, *{
    margin: 0; 
    padding:0;
    font-family: 'Smythe', cursive;
    /* box-sizing: border-box; */
}


header{
    background-image:  url('/header.png');
    padding:20px 0;
    height :100px;
    border:1px solid red;
    color:white;
    display:flex;
    align-items: center;
}
/* conmtainer */

.over-all-container{
    margin: 100px auto;
    width: 600px;
    /* border:1px solid green; */
}
.menu-container{
    width:500px;
    padding:2em;

}
.menu-container{
    border-bottom:1px solid #D2D2D2;
     display:flex;
    justify-content: space-between;
    place-items: center;
    
}
.menu-container-inner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
    margin-left:40px;
   
}
.modal-heading-container{
    display: flex;
    justify-content: space-around;
}
.modal-heading{
    margin-left: 65px;
}
#order-item{
    display:none;
    width: 518px;
    padding: 10px;
}


.span-list-item{
    display:flex;
    justify-content: space-between;
    margin-left:81px;
    padding:10px;
}

.total-price{
    display:flex;
    justify-content: space-between;
   margin-left:5.5em;
}
#totalPrices{
    max-width: 31.7em;
}

#order-modal{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 9999; */
}
.inputs{
    display:flex;
    flex-direction: column;
    margin-top:1em;

}

form{
    width:350px;
    margin:auto;
    background-color:white;
    padding: 25px;
    border-radius:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    
}
 input[type='text']{
    padding:5px 10px;
    margin:5px 10px;
 }

 input[type="submit"]{
    box-sizing: border-box;
    width:340px;
    padding:10px 15px;
    margin: 0 auto;

 }


/* Typograpy */
.order-heading,.no-items{
    display:flex;
    place-items: center;
    justify-content: center;
    margin-left:5em;
}

.no-items{
    margin-top:2em;
}
.total-price-text{
    font-weight: bold;
}
.header-text{
    display: flex;
    flex-direction: column;
    margin-left:40px;
}
.first-heading{
    font-size: 2.35em;
    letter-spacing: 0.02em;
}

.second-heading{
    letter-spacing: 0.07em;
    font-size: 1.15em;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
}

.price{
    padding:0;
    margin:0;
}

.modal-heading{
    text-align: center;
}
.food-image{
    height: 32px;
    max-width:40px;
    display:flex;
}
.food-image span {
    font-size:40px;
}


.add-btn{
    border-radius: 50%;
    border:1px solid #D2D2D2;
  
    background:none;
    font-size:27px;
    font-weight: lighter;
    display:flex;
    flex-direction: column;
    place-self: center;
    padding: 2px 17px;;
    
}


/* btn */

.complete-btn, input[type="submit"]{

    background: #16DB99;
    color:white;
    text-align: center;
    margin-top:2em;
}
.complete-btn{
    padding: 7px 15px;
    width:525px;
   
    font-family: inherit;
}

input[type="submit"]{
    border:1px solid #16DB99;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
}

#order-confirmed, .no-items{
    color:#065F46;
    background:#ECFDF5 ;
    padding:10px 15px;
    width:525;

}
#order-confirmed{
    display: none;
   
    text-align: center;
}